.section-7 {
	background-color: #fff;
	padding: 60px 0;
	.section-title {
		margin-bottom: 0;
		h3 {
			max-width: 17em;
			margin: 0 auto 10px;
		}
	}
	a {
		background-color: #2996cc;
		border-radius: 5px;
		color: #fff;
		display: block;
		width: 200px;
		min-height: 40px;
		font-size: 11px;
		font-weight: 600;
		line-height: 40px;
		margin: 20px auto 0;
		padding: 0;
		text-align: center;
	}
}